@model IEnumerable<Common.Models.PostDetails>

@{
    ViewBag.Title = "Search";
}

<div class="row mt-3">
    <div class="col-sm-12">
        <h2>Search</h2>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                @Html.Partial("~/Views/Posts/_PostBox.cshtml", item)
            }
        </ul>
    </div>
</div>