@model IEnumerable<Common.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <p><i class="fa fa-arrow-alt-circle-up"></i></p>
                    <h5>@item.Title</h5>
                    <p class="small text-muted mb-2">submitted by @item.UserName</p>
                    <p>0 comments</p>
                </li>
            }
        </ul>
    </div>
</div>