@model FrontEnd.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-3">
    <div class="col-md-7 col-lg-9">
        <ul class="list-group">
            @foreach (var item in Model.Submissions)
            {
                @Html.Partial("~/Views/Submissions/_SubmissionBox.cshtml", item)
            }
        </ul>
    </div>
    <div class="col-md-5 col-lg-3 d-none d-md-block d-lg-block d-xl-block">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Search", "Submissions"))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchTerm" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }

                <p><a class="btn btn-primary btn-block" href="@Url.Action("Create", "Submissions", new { @type = Common.Models.SubmissionType.Text })">Create New Text Submission</a></p>
                <p><a class="btn btn-primary btn-block" href="@Url.Action("Create", "Submissions", new { @type = Common.Models.SubmissionType.Link })">Create New Link Submission</a></p>
            </div>
        </div>
    </div>
</div>